<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>id</td>
        <td>user_id</td>
        <td>假單審核</td>
      </tr>
    </thead>
    <tbody>
      <% @leave_events.each do |leave_event| %>
        <tr>
          <td>#</td>
          <td><%= leave_event.id %></td>
		  <td><%= leave_event.user_id %></td>
		  <td><%= link_to('馬上審核', leave_event_path(leave_event) ) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>