<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>status</td>
        <td>Name</td>
        <td>Verify</td>
        <td>Type</td>
      </tr>
    </thead>
    <tbody>
      <% @leave_events.each do |leave_event| %>
        <tr>
          <td><%= leave_event.status %></td>
		      <td><%= leave_event.user.email %></td>
		      <td><%= link_to('馬上審核', leave_event_path(leave_event) ) %></td>
          <td><%= leave_event.leave_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
