<div class="col-md-12">
  <div class="content-box-header">
    <div class="panel-title">處理假單</div>
  </div>
  <div class="content-box-large box-with-header">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>#</td>
          <td>status</td>
          <td>Name</td>
          <td>Type</td>
        </tr>
      </thead>
      <tbody>
        <% current_user.leave_events.each do |leave_event| %>
        <tr>
          <td><%= link_to leave_event.token, leave_event_path(leave_event.token) %></td>
          <td><%= leave_event.status %></td>
          <td><%= leave_event.user.email %></td>
          <td><%= leave_event.leave_type %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
