@charset "UTF-8";

// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-family--primary: "微軟正黑體", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

//Colors

$white: #fff;
$black: #000;

// Text
$base__font-size: 16px;
$base__line: 24px;
$letter-space: 1px;


// breakpoint
$bp_xs: 320px;
$bp_s: 375px;
$bp_m: 640px;
$bp_l: 800px;
$bp_xl: 1280px;
$bp_xxl: 1366px;