<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
      <%= link_to '管理員工', admin_users_path if can? :read, current_user %>
    </li>
    <li>
      <%= link_to '我要請假', new_leave_event_path %>
    </li>
    <li>
      <%= link_to '假單狀態', leave_events_path %>
    </li>
    <li>
      <%= link_to '個人資料' %>
    </li>
  </ul>
</div>
